{% extends 'base_page.html' %}
{% block content %}
{% load static %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static '/main_app/images/background/8.jpg' %});">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Frequently Asked Questions</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Faqs</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!--Faq Section-->
    <section class="faq-section">
        <div class="auto-container">

            <!--Product Tabs-->
            <div class="prod-tabs tabs-box">
                <div class="row clearfix">
                    <!--Column-->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#prod-about" class="tab-btn"><span>About Company</span></li>
                            <li data-tab="#prod-market" class="tab-btn active-btn"><span>General Questions</span></li>
                            <li data-tab="#prod-estimate" class="tab-btn"><span>Market Sizing / Estimates</span></li>
                            <li data-tab="#prod-case" class="tab-btn"><span>Case Questions</span></li>
                            <li data-tab="#prod-knowledge" class="tab-btn"><span>Random Knowledge</span></li>
                        </ul>
                    </div>
                    <!--Column-->
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <!--Tabs Container-->
                        <div class="tabs-content">

                            <!--Tab / Active Tab-->
                            <div class="tab" id="prod-about">
                                <div class="content">

                                    <!--Accordian Box-->
                                    <ul class="accordion-box">

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Do you give any offer for premium customer?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Why Would a Successful Entrepreneur Hire a Coach?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block active-block">
                                            <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What is the procedure to join with your company?</div>
                                            <div class="acc-content current">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Waht makes your financial projects special?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Can I offer my items for free on a promotional basis?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Is there a limit to the number of guests should plan in a day?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                            <!--Tab -->
                            <div class="tab active-tab" id="prod-market">
                                <div class="content">

                                    <!--Accordian Box-->
                                    <ul class="accordion-box">

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Do you give any offer for premium customer?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Why Would a Successful Entrepreneur Hire a Coach?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block active-block">
                                            <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What is the procedure to join with your company?</div>
                                            <div class="acc-content current">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Waht makes your financial projects special?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Can I offer my items for free on a promotional basis?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Is there a limit to the number of guests should plan in a day?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                            <!--Tab -->
                            <div class="tab" id="prod-estimate">
                                <div class="content">
                                    <ul class="accordion-box">

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Do you give any offer for premium customer?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Why Would a Successful Entrepreneur Hire a Coach?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block active-block">
                                            <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What is the procedure to join with your company?</div>
                                            <div class="acc-content current">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Waht makes your financial projects special?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Can I offer my items for free on a promotional basis?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Is there a limit to the number of guests should plan in a day?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--Tab -->
                            <div class="tab" id="prod-case">
                                <div class="content">

                                    <ul class="accordion-box">

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Do you give any offer for premium customer?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Why Would a Successful Entrepreneur Hire a Coach?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block active-block">
                                            <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What is the procedure to join with your company?</div>
                                            <div class="acc-content current">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Waht makes your financial projects special?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Can I offer my items for free on a promotional basis?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Is there a limit to the number of guests should plan in a day?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                            <!--Tab -->
                            <div class="tab" id="prod-knowledge">
                                <div class="content">

                                    <ul class="accordion-box">

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Do you give any offer for premium customer?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Why Would a Successful Entrepreneur Hire a Coach?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block active-block">
                                            <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What is the procedure to join with your company?</div>
                                            <div class="acc-content current">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Waht makes your financial projects special?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Can I offer my items for free on a promotional basis?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--Block-->
                                        <li class="accordion block">
                                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Is there a limit to the number of guests should plan in a day?</div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">The green zone is available to everyone, but not just anyone can join. The first step into the green zone is the step in to your client’s future and look back at the advice solutions and services you provided.</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--End Faq Section-->
{% endblock %}