{% load static  %}
<!DOCTYPE html>
<html>
<head>
    <h3 class="text-center">Payment Details</h3>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static '/main_app/pay/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/main_app/pay/font-awesome/css/font-awesome.min.css' %}" />

    <script type="text/javascript" src="{% static '/main_app/pay/js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/main_app/pay/bootstrap/js/bootstrap.min.js' %}"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>
    
    {% if error %}
    <h3>{{ error }}</h3>
    {% endif %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                <div class="row">
                        <h3 class="text-center">Payment Details</h3>
                        <img class="img-responsive cc-img" src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
                    </div>
                </div>
    <form method="POST" action="{% url 'pay' %}">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" class="form-control" name="username" required>
        <label for="password">Password: </label>
        <input type="password" class="form-control" name="password" required>
        <br>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-ind"></span>RS. {{total}}</span> Final Payment</a>
                </li>
            </ul>
                 <br>  
        {% comment %} <label for="amount">Amount: </label> {% endcomment %}
        {% comment %} <input type="number" name="amount" value="{{total}}" disabled> {% endcomment %}
        <input type="submit" class="btn btn-warning btn-lg btn-block" name="submit" value="Proceed" required>
    </form>
     </div>
     </div>
    </div>
    </div>
</body>

</html>